
<div id="botton-bar" th:fragment="botton-bar">

    <label id="botton-text">
        <span id="botton-text-logo">ATIVA DNIT</span>
        <span class="botton-text-filter" id="botton-text-tipo"></span>&nbsp
        <span class="botton-text-filter" id="botton-text-nome"></span>&nbsp
        <span class="botton-text-filter" id="botton-text-condicao"></span>&nbsp
        <span class="botton-text-filter" id="botton-text-uf"></span>&nbsp
        <span class="botton-text-filter" id="botton-text-br"></span>&nbsp
        <span class="botton-text-filter" id="botton-text-km"></span>&nbsp
        <span class="botton-text-filter" id="botton-text-kmi"></span>&nbsp
        <span class="botton-text-filter" id="botton-text-kmf"></span>
    </label>    

</div>