<div id="menu-barra-lateral" th:fragment="menu">

    <div class="menu-campo-logo">
        <i class='menu-icon menu-logo'></i>
        <div class="menu-nome">Ativa</div>
        <i class='menu-icon menu-logo-toggler' id="menu-botao-toggler"></i>
    </div>

    
    <ul id="menu-nav-list">
    <li>
            <a id="menu-botao-evento-sinalizacao" href="#">
                <i class='menu-icon menu-logo-sinalizacao'></i>
                <span class="menu-link-name">Sinalização</span>
            </a>
             <span class="menu-tooltip">Sinalização</span>
    </li>
        
    <li>
         <a id="menu-botao-evento-defensa" href="#">
             <i class='menu-icon menu-logo-defensa' ></i>
             <span class="menu-link-name">Defensa</span>
         </a>
         <span class="menu-tooltip">Defensa</span>
     </li>

     <li>
         <a id="menu-botao-evento-defeito" href="#">
             <i class='menu-icon menu-logo-defeito' ></i>
             <span class="menu-link-name">Defeito</span>
         </a>
         <span class="menu-tooltip">Defeito</span>
     </li>

     <li>
         <a id="menu-botao-evento-posto" href="#">
             <i class='menu-icon menu-logo-posto' ></i>
             <span class="menu-link-name">Posto PRF</span>
         </a>
         <span class="menu-tooltip">Posto PRF</span>
     </li>

     <li>
         <a id="menu-botao-evento-gasolina" href="#">
             <i class='menu-icon menu-logo-gasolina' ></i>
             <span class="menu-link-name">Gasolina</span>
         </a>
         <span class="menu-tooltip">Gasolina</span>
     </li>

     <li>
         <a id="menu-botao-evento-semaforo" href="#">
             <i class='menu-icon menu-logo-semaforo' ></i>
             <span class="menu-link-name">Semáforo</span>
         </a>
         <span class="menu-tooltip">Semáforo</span>
     </li>

     <li>
         <a id="menu-botao-evento-pardal" href="#">
             <i class='menu-icon menu-logo-pardal' ></i>
             <span class="menu-link-name">Barreira Eletrônica</span>
         </a>
         <span class="menu-tooltip">Barreira Eletrônica</span>
     </li>

     <li>
         <a id="menu-botao-evento-iluminacao" href="#">
             <i class='menu-icon menu-logo-iluminacao' ></i>
             <span class="menu-link-name">Iluminação</span>
         </a>
         <span class="menu-tooltip">Iluminação</span>
     </li>
     
     <li>
         <a id="menu-botao-evento-drenagem" href="#">
             <i class='menu-icon menu-logo-drenagem' ></i>
             <span class="menu-link-name">Drenagem</span>
         </a>
         <span class="menu-tooltip">Drenagem</span>
     </li>

    </ul>
</div>